<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增主播信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-anchor-add">
            <div class="form-group">
                <label class="col-sm-3 control-label">主播名称：</label>
                <div class="col-sm-8">
                    <input name="name" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">直播账号：</label>
                <div class="col-sm-8">
                    <select name="liveAccount" class="form-control m-b" id="liveAccountSelect">

                    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "shop/anchor"

        $.ajax({
            url: ctx + "shop/anchor/getCommissionList",//因为点击日历某个特定日期时，弹出框需要以下拉框的形式显示信息
            dataType: 'json',
            type: 'post',
            success: function (result) {
                var typeListHtml = '';
                $.each(result, function (idx, item) {
                    typeListHtml += '<option value = ' + item.name + '>' + item.name + '</option>'
                });
                $('#liveAccountSelect').html(typeListHtml);

            }
        });

        $("#form-anchor-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-anchor-add').serialize());
            }
        }
    </script>
</body>
</html>