<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('店铺列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>所属商家id：</label>
                            <input type="text" name="owner"/>
                        </li>
                        <li>
                            <label>店铺id：</label>
                            <input type="text" name="shopId"/>
                        </li>
                        <li>
                            <label>${comment}：</label>
                            <input type="text" name="shopName"/>
                        </li>
                        <li>
                            <label>${comment}：</label>
                            <input type="text" name="accessToken"/>
                        </li>
                        <li>
                            <label>ccess_token接口调用凭证超时时间，单位：</label>
                            <input type="text" name="expiresIn"/>
                        </li>
                        <li>
                            <label>时间戳：</label>
                            <input type="text" name="expiresAt"/>
                        </li>
                        <li>
                            <label>${comment}：</label>
                            <input type="text" name="scope"/>
                        </li>
                        <li>
                            <label>${comment}：</label>
                            <input type="text" name="refreshToken"/>
                        </li>
                        <li>
                            <label>授权ID：</label>
                            <input type="text" name="authorityId"/>
                        </li>
                        <li>
                            <label>0 否 1是：</label>
                            <input type="text" name="default"/>
                        </li>
                        <li>
                            <label>绑定码：</label>
                            <input type="text" name="code"/>
                        </li>
                        <li>
                            <label>1 抖音 2拼多 3淘宝 4京东：</label>
                            <input type="text" name="platform"/>
                        </li>
                        <li>
                            <label>${comment}：</label>
                            <input type="text" name="pid"/>
                        </li>
                        <li>
                            <label>${comment}：</label>
                            <input type="text" name="logo"/>
                        </li>
                        <li>
                            <label>订单最后一次同步时间：</label>
                            <input type="text" class="time-input" placeholder="请选择订单最后一次同步时间" name="orderLastSyncTime"/>
                        </li>
                        <li>
                            <label>评价最后一次同步时间：</label>
                            <input type="text" class="time-input" placeholder="请选择评价最后一次同步时间" name="commentLastSyncTime"/>
                        </li>
                        <li>
                            <label>售后最后一次同步时间：</label>
                            <input type="text" class="time-input" placeholder="请选择售后最后一次同步时间" name="afterSaleLastSyncTime"/>
                        </li>
                        <li>
                            <label>购买服务之后服务的开始生效时间，时间戳，单位：秒：</label>
                            <input type="text" name="serviceStartTime"/>
                        </li>
                        <li>
                            <label>购买服务之后服务的结束时间，时间戳，单位：秒：</label>
                            <input type="text" name="serviceEndTime"/>
                        </li>
                        <li>
                            <label>购买人手机号：</label>
                            <input type="text" name="phone"/>
                        </li>
                        <li>
                            <label>用户实际支付的金额：</label>
                            <input type="text" name="money"/>
                        </li>
                        <li>
                            <label>购买规格名称：</label>
                            <input type="text" name="spec"/>
                        </li>
                        <li>
                            <label>使用时长,购买时间按照自然月，1个月，3个月，6个月，12个月。：</label>
                            <input type="text" name="duration"/>
                        </li>
                        <li>
                            <label>时长单位, 0:天，1:月，2:年：</label>
                            <input type="text" name="unit"/>
                        </li>
                        <li>
                            <label>可用短信数：</label>
                            <input type="text" name="smsNum"/>
                        </li>
                        <li>
                            <label>订购订单号：</label>
                            <input type="text" name="orderId"/>
                        </li>
                        <li>
                            <label>订单同步锁：</label>
                            <input type="text" name="orderSyncLock"/>
                        </li>
                        <li>
                            <label>售后同步锁：</label>
                            <input type="text" name="afterSaleSyncLock"/>
                        </li>
                        <li>
                            <label>表索引：</label>
                            <input type="text" name="tableIndex"/>
                        </li>
                        <li>
                            <label>1状态是否同步：</label>
                            <input type="text" name="isOrderStatus1Sync"/>
                        </li>
                        <li>
                            <label>${comment}：</label>
                            <input type="text" name="operatorName"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:shop:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:shop:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:shop:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:shop:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:shop:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:shop:remove')}]];
    var prefix = ctx + "system/shop";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "店铺",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '${comment}',
                    visible: false
                },
                {
                    field: 'owner',
                    title: '所属商家id'
                },
                {
                    field: 'shopId',
                    title: '店铺id'
                },
                {
                    field: 'shopName',
                    title: '${comment}'
                },
                {
                    field: 'accessToken',
                    title: '${comment}'
                },
                {
                    field: 'expiresIn',
                    title: 'ccess_token接口调用凭证超时时间，单位'
                },
                {
                    field: 'expiresAt',
                    title: '时间戳'
                },
                {
                    field: 'scope',
                    title: '${comment}'
                },
                {
                    field: 'refreshToken',
                    title: '${comment}'
                },
                {
                    field: 'authorityId',
                    title: '授权ID'
                },
                {
                    field: 'authSubjectType',
                    title: '${comment}'
                },
                {
                    field: 'default',
                    title: '0 否 1是'
                },
                {
                    field: 'code',
                    title: '绑定码'
                },
                {
                    field: 'platform',
                    title: '1 抖音 2拼多 3淘宝 4京东'
                },
                {
                    field: 'pid',
                    title: '${comment}'
                },
                {
                    field: 'logo',
                    title: '${comment}'
                },
                {
                    field: 'orderLastSyncTime',
                    title: '订单最后一次同步时间'
                },
                {
                    field: 'commentLastSyncTime',
                    title: '评价最后一次同步时间'
                },
                {
                    field: 'afterSaleLastSyncTime',
                    title: '售后最后一次同步时间'
                },
                {
                    field: 'serviceStartTime',
                    title: '购买服务之后服务的开始生效时间，时间戳，单位：秒'
                },
                {
                    field: 'serviceEndTime',
                    title: '购买服务之后服务的结束时间，时间戳，单位：秒'
                },
                {
                    field: 'phone',
                    title: '购买人手机号'
                },
                {
                    field: 'money',
                    title: '用户实际支付的金额'
                },
                {
                    field: 'spec',
                    title: '购买规格名称'
                },
                {
                    field: 'duration',
                    title: '使用时长,购买时间按照自然月，1个月，3个月，6个月，12个月。'
                },
                {
                    field: 'unit',
                    title: '时长单位, 0:天，1:月，2:年'
                },
                {
                    field: 'payType',
                    title: '：微信，2：支付宝，7：该订单为试用订单，0元单'
                },
                {
                    field: 'smsNum',
                    title: '可用短信数'
                },
                {
                    field: 'orderId',
                    title: '订购订单号'
                },
                {
                    field: 'orderSyncLock',
                    title: '订单同步锁'
                },
                {
                    field: 'afterSaleSyncLock',
                    title: '售后同步锁'
                },
                {
                    field: 'tableIndex',
                    title: '表索引'
                },
                {
                    field: 'isOrderStatus1Sync',
                    title: '1状态是否同步'
                },
                {
                    field: 'encryptOperator',
                    title: '${comment}'
                },
                {
                    field: 'operatorName',
                    title: '${comment}'
                },
                {
                    field: 'shopBizType',
                    title: '${comment}'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>